*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    margin: auto;

}

main{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.873);
}

.form{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.form form{
    height: 250px;
    width: 100%;
}

form input{
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.444);
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 2px solid rgba(0, 89, 255, 0.574);
    padding: 10px;
}

form textarea{
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.444);
    font-weight: 700;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 2px solid rgba(0, 89, 255, 0.574);
    padding: 10px;
    resize: none;

}

form .btn{
    padding: 10px 30px;
    background-color: rgb(0, 89, 255);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;

}

.btn:active{
    scale: 0.95;
}

.form .alltasks{
    height: 70%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: visible;
}

.task{
    height: 175px;
    width: 300px;
    border: 2px solid rgba(0, 89, 255, 0.574);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.444);
    padding: 20px;
}

.task h1{
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: Helvetica;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.task p{
    color: rgba(255, 255, 255, 0.614);
    font-size: 15px;
    font-weight: 600;
    font-family: Helvetica;
    margin-bottom: 20px;
}

.task .btn-2{
    padding: 5px 20px;
    background-color: crimson;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}

.btn-2:active{
    scale: 0.95;
}

.task a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 89, 255);
    display: block;
}

.task div{
    width: 100%;
    height: 40px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.task div #read{
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 89, 255);
}

.task div #edit{
    text-decoration: none;
    font-size: 15px;
    color: orange;
}

.alltasks #notask{
    color: rgba(255, 255, 255, 0.668);
    font-size: 20px;
}
